<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heroRun0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,207},{25,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,39}</string>
			</dict>
			<key>heroRun0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,185},{25,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>heroRun0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,179},{25,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>heroRun0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,208},{25,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>heroRun0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,179},{25,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,37}</string>
			</dict>
			<key>enemy0.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,2},{34,46}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>enemy1.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,2},{34,47}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>enemy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{34,48}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,48}</string>
			</dict>
			<key>heroRun1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,2},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroRun1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,40},{33,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroRun1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,2},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroRun1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,40},{33,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroRun1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,39},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroRun2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,142},{32,36}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,37}</string>
			</dict>
			<key>heroRun2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,143},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>heroRun2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,142},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>heroRun2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,149},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>heroRun2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,143},{32,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>heroRun3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,109},{29,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,44}</string>
			</dict>
			<key>heroRun3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,110},{29,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,42}</string>
			</dict>
			<key>heroRun3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,77},{29,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,42}</string>
			</dict>
			<key>heroRun3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,110},{29,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,42}</string>
			</dict>
			<key>heroRun3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,77},{29,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,42}</string>
			</dict>
			<key>heroWait0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,179},{25,37}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,38}</string>
			</dict>
			<key>heroWait0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,208},{25,36}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,38}</string>
			</dict>
			<key>heroWait0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,178},{25,38}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,39}</string>
			</dict>
			<key>heroWait1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,76},{33,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroWait1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,39},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroWait1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,40},{33,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,44}</string>
			</dict>
			<key>heroWait2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,178},{32,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>heroWait2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{42,143},{32,36}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>
			<key>heroWait2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,113},{32,37}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,37}</string>
			</dict>
			<key>heroWait3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,110},{29,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,42}</string>
			</dict>
			<key>heroWait3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{94,77},{29,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,44}</string>
			</dict>
			<key>heroWait3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,76},{29,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>heroImg.png</string>
			<key>realTextureFileName</key>
			<string>heroImg.png</string>
			<key>size</key>
			<string>{256,235}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>235</integer>
		</dict>
	</dict>
</plist>