<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>music1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,5},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>music2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,85},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>sound1.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,165},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>sound2.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,245},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>btnImg.png</string>
			<key>realTextureFileName</key>
			<string>btnImg.png</string>
			<key>size</key>
			<string>{80,320}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>320</integer>
		</dict>
	</dict>
</plist>